#topbar {
    position: absolute;
    /*border: 1px solid black;*/
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    visibility: hidden;
    z-index: 100;
}

.maintext {
    Font-size: 12pt;
    Text-align: justify;
    Margin: 25px auto;
}

.border {
    border: 1px solid black;
    padding: 0 2px 0 1px;
}

p {
    margin: 0;
    text-indent: 1em;
}

.indents {
    text-indent: 5em;
}