body {
Font-Family: 'Times New Roman', 'MS SANS SERIF', TAHOMA, VERDANA, ARIAL;
//Font-weight: bold;
Font-size: 12pt;
color: #111111;
BackGround-color: WHITE;
//BackGround-Image: url(../img/gif/bg.gif);
//BackGround-position: top center;
//BackGround-Attachment: fixed;
//BackGround-Repeat: no-repeat;
}
#topbar{
position:absolute;
/*border: 1px solid black;*/
padding: 0px;
background-color: #ffffff;
width: 100%;
visibility: hidden;
z-index: 100;
}
.maintext {
width: 750;
Font-size: 12pt;
Text-align: justify;
Margin: 25px auto;
}
.border {
border: 1px solid black;
padding: 0px 2px 0px 1px;
}
p {
margin: 0px;
text-indent: 1em;
}
.indents {
text-indent: 5em;
}
A {
Font-Family: ERASURE;
Font-size: 12pt;
color: BLACK;
}
A:link {
Font-Family: ERASURE;
Text-decoration: none;
color: #111111;
}
A:visited {
Font-Family: ERASURE;
Text-decoration: none;
color: #333333;
}
A:hover {
; Font-Family: ERASURE;
; Text-decoration: none;
; color: RED;
}
