#wrap {
    margin-top: 15%;
}

#butMain {
    /*background-color: #2e6da455;*/
}

#but {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    color: white;
    font-family: Georgia, serif;
    font-size: 4em;
    background-color: #2e6da4;
    border: hidden;
    border-radius: 50%;
    cursor: pointer;
}

#but:hover {
    background-color: #204d74;
}

#but:active {
    width: 149px;
    height: 149px;
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px); /** Chrome & Safari **/
    -o-transform: translate(0, 2px); /** Opera **/
    -moz-transform: translate(0, 2px); /** Firefox **/
}

#search input {
    background: center / contain no-repeat url("loupeB.svg");
    border: none;
    padding: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

#search input:not(:hover) {
    transition: 1s;
}

#search input:hover {
    transition: 1s;
    filter: hue-rotate(125deg);
    /*-webkit-filter: hue-rotate(120deg);*/
}

:active, :hover, :focus {
    outline: none;
    outline-offset: 0;
}

#main {
    /*margin-top: 50px;*/
    font-family: Georgia, serif;
    color: #204d74;
}

#res {
    opacity: 0;
    font-size: 4em;
    cursor: pointer;
}

#res:hover {
    color: #2e6da4;
}

#res:active {
    color: darkred;
    font-size: 3.9em;
}

#ingred {
    font-size: 1.5em;
}