#wrap {
    margin-top: 15%;
}

#but {
    width: 150px;
    height: 150px;
    color: white;
    font-family: Georgia, serif;
    font-size: 4em;
    background-color: #2e6da4;
    border: hidden;
    border-radius: 50%;
}

#but:hover {
    background-color: #204d74;
}

#but:active {
    width: 149px;
    height: 149px;
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px); /** Chrome & Safari **/
    -o-transform: translate(0, 2px); /** Opera **/
    -moz-transform: translate(0, 2px); /** Firefox **/
}

#main {
    margin-top: 50px;
    font-family: Georgia, serif;
    font-size: 4em;
    color: #204d74;
}